*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
/*顶部抬头*/
#heard{
	height: 25px;
	background: #F2F2F2;
	border-bottom: 1px solid #D2D2D2 ;
}
#banxin{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
}
#banxin1{
	overflow: hidden;
}
#heard-left{
	float: left;
	position: relative;
}
#heard-left a{
	text-align: center;
	width: 16px;
	height: 18px;
	display: block;
	float: left;
	margin: 4px 12px 0 0;
	background: url(../images/index/thnewbg.png) no-repeat;
}
#heard-left .kj{
	background-position: 0 -104px ;
}
#heard-left .wx{
	background-position: -19px -104px ;
}
#heard-left .xl{
	background-position: -39px -104px ;
}
#heard-right{
	float: right;
	color: #666;
	font-size: 12px;
}
#heard-right a{
	color: #666;
	font-size: 12px;
}
#heard-right a:hover{
	color: #da2b28;
}
#heard-right li{
	float: left;
	line-height: 25px;
	padding: 0 10px;
}
#heard-right li:nth-of-type(4),
#heard-right li:nth-of-type(6),
#heard-right li:nth-of-type(8){
	width: 1px;
	height: 12px;
	padding: 0;
	margin-top: 7px;
	background: #ccc;
}
#heard-right li:nth-of-type(9){
	float: left;
	padding: 0 23px 0 10px;
	position: relative;
}
#heard-right .jt{
	width: 9px;
	height: 7px;
	background: url(../images/index/thnewbg.png) no-repeat -141px -308px;
	position: absolute;
	top: 10px;
	right: 0px;
}
#heard-right .fw{
	display: none;
	position: absolute;
	font-size: 12px;
	width: 100%;
	left: 0;
}
#heard-right li:nth-of-type(9):hover .fw {
	display: block;
	border: 1px #ccc solid;
}
#heard-right li:nth-of-type(9):hover{
	background: #fff;
}
/*顶部抬头结束*/
/*logo行*/
#ggtiao{
	position: relative;
	margin-bottom: -4px;
}
#ggtiao .gggb{
	width: 19px;
	height: 19px;
	display: block;
	position: absolute;
	z-index: 10;
	background: url(../images/arrorpng.png) no-repeat 0 0;
	top: 4px;
	right: 0;
}
#ggtiao .gggb:hover{
	background-repeat: 0 20px;
	background-color: #d4d2cf;
}
#logok{
	width: 100%;
	/*background: red;*/
	overflow: hidden;
}
#logok .logo{
	float: left;
	display: block;
	margin: 15px 10px 18px 0;
}
#logok .input{
	width: 670px;
	float: right;
	position: relative;
	height: 50px;
}

#logok .texts{
	float: left;
	width: 450px;
	height: 26px;
	line-height: 26px;
	background-color: #FFFFFF ;
	font-size: 14px;
	padding: 3px 5px;
	border: 0 none;
	margin: 0;
	color: #999;
}
#ssk{
	width: 530px;
	height: 32px;
	background: #fff;
	border: 3px solid #96843a;
	margin-top: 24px;
}
#ssk .butss{
	float: left;
	width: 70px;
	height: 32px;
	background-color: #96843A;
	color: #fff;
    font-family: "microsoft yahei";
    font-size: 16px;
    border: 0 none;
    margin: 0;
    text-align: center;
    cursor:pointer;
}
#ssrs{
	color: #666;
	line-height: 26px;
	height: 26px;
	overflow: hidden;
	width: 540px;
	font-size: 12px;
}
#ssrs a:hover{
	text-decoration:underline;
}
#ssrs a{
	color: #666;
}
#logok .gouwuc{
	float: right;
	width: 144px;
	height: 30px;
	background: #E3E3E3;
	border: 1px solid  #DFDFDF;
	margin-top: 28px;
	position: relative;
	cursor:pointer;
}
#lgsl{
	background: url(../images/index/thnewbg.png) no-repeat -144px -125px;
	height: 16px;
	width: 16px;
	padding-left: 6px;
	left: 25px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: -6px;
}
#lgsl span{
	background: url(../images/index/thnewbg.png) no-repeat right -144px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	padding-right: 6px;
	float: left;
	color: #FFFFFF;
}
#logok .gwche{
	float: left;
	width: 26px;
	height: 19px;
	margin: 6px 12px 0 8px;
	background: url(../images/index/thnewbg.png) no-repeat -68px -125px;
}
#logok .jiesuan{
	float: left;
}
#logok .jiesuan:hover{
	color: red;
}
#logok .lggwjt a{
	color: #666666;
	text-decoration: none;
	font-size: 12px;
	display: block;
	line-height:30px;
	font-weight: 200;
}
#logok .gwrightjt{
	float: right;
	width: 4px;
	height: 7px;
	margin: 11px 9px 0 0;
	background: url(../images/index/thnewbg.png) no-repeat -128px -104px;
}
/*导航信息栏*/
#daohang{
	width: 190px;
	position: relative;
	z-index: 100;
}
#daohang h2 a{
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	height: 38px;
	background: #968239;
	color: #FFFFFF;
	display: block;
	font-weight: 200;
	margin-top: 1px;
}
#daohangfl{
	width: 190px;
	background: #000;
	position: absolute;
	z-index: 1000;
	padding-bottom: 4px;
	margin-top: -2px;
}
.daohangfl-1  span{
	height: 19px;
	width: 19px;
	display: block;
	float: left;
	margin: 11px 5px 0 0;
}
.daohangfl-1 li:nth-of-type(1) span{
	background: url(../images/menubg.png) no-repeat 0 -300px;
}
.daohangfl-1 li:nth-of-type(2) span{
	background: url(../images/menubg.png) no-repeat 0 -342px;
}
.daohangfl-1 li:nth-of-type(3) span{
	background: url(../images/menubg.png) no-repeat 0 -363px;
}
.daohangfl-1 li:nth-of-type(4) span{
	background: url(../images/menubg.png) no-repeat 0 -381px;
}
.daohangfl-1 li:nth-of-type(5) span{
	background: url(../images/menubg.png) no-repeat 0 -321px;
}
.daohangfl-1 li:nth-of-type(6) span{
	background: url(../images/menubg.png) no-repeat 0 -403px;
}
.daohangfl-1 li:nth-of-type(7) span{
	background: url(../images/menubg.png) no-repeat 0 -423px;
}
.daohangfl-1 li:nth-of-type(8) span{
	background: url(../images/menubg.png) no-repeat 0 -440px;
}
.daohangfl-1 li:nth-of-type(9) span{
	background: url(../images/menubg.png) no-repeat 0 -458px;
}
.daohangfl-1 li:nth-of-type(10) span{
	background: url(../images/menubg.png) no-repeat 0 -321px;
}
.daohangfl-1 li:nth-of-type(11) span{
	background: url(../images/menubg.png) no-repeat 0 -493px;
}
.daohangfl-1 a{
/*	width: 190px;*/
	height: 41px;
	font-size: 14px;
	line-height: 41px;
	color: #FFFFFF;
	position: relative;
}
.daohangfl-1 a:nth-of-type(2){
	position: relative;
	left: -2px;
}
.daohangfl-1 e{
	width: 7px;
	height: 45px;
	background: url(../images/menubg.png) no-repeat -29px -302px;
	display: block;
	position: absolute;
	left: -7px;
	top: -3px;
	display: none;
}
.daohangfl-1 li{
	height: 35px;
	padding: 0 12px;
	/*margin-top: 6px;*/
	padding-top: 6px;
	color: #FFFFFF;
	position: relative;
}
.daohangfl-1 li:hover{
	background: #ec8600;
}
.daohangfl-1 li:hover e{
	display: block;
}
.daohangfl-1 .daohangfl-1-1:hover{
	background: #000;
}
.daohangfl-1 .daohangfl-1-1:hover  e{
	display: none;
}
.daohang-r{
	position: absolute;
	width: 808px;
	height: 435px;/*背景高度*/
	background: #FFFFFF;/*背景颜色*/
	top: 0;
	margin: 0;
	padding: 10px 15px;
	left: 190px;
	display: none;
	opacity: 0.85;
	border: 1px solid #3333;
	overflow: hidden;
}
.daohangfl-1 li:nth-of-type(1):hover .daohang-r{
	display: block;
}
.daohangfl-1 li:nth-of-type(2):hover .daohang-r{
	display: block;
	top: -41px;
}
.daohangfl-1 li:nth-of-type(3):hover .daohang-r{
	display: block;
	top: -82px ;
}
.daohangfl-1 li:nth-of-type(4):hover .daohang-r{
	display: block;
	top: -123px;
}
.daohangfl-1 li:nth-of-type(5):hover .daohang-r{
	display: block;
	top: -164px;
}
.daohangfl-1 li:nth-of-type(6):hover .daohang-r{
	display: block;
	top: -205px;
}
.daohangfl-1 li:nth-of-type(7):hover .daohang-r{
	display: block;
	top: -246px;
}
.daohangfl-1 li:nth-of-type(8):hover .daohang-r{
	display: block;
	top: -287px;
}
.daohangfl-1 li:nth-of-type(9):hover .daohang-r{
	display: block;
	top: -328px;
}

.daohang-r dl{
	padding: 6px 0;
	width: 580px;
	clear: both;
	overflow: hidden;
	border-bottom: 1px #dcdfd6 dotted;
	opacity: 0.9;
}
.daohang-r dt a{
	float: left;
	line-height: 20px;
	color: #333;
	display: block;
	padding-right: 5px;
	font-size: 12px;
	width: 85px;
	text-align: right;
	font-weight: 700;
}
.daohang-r dd{
	width: 475px;
	float: right;
	overflow: hidden;
}
.daohang-r dd a{
	float: left;
	line-height: 14px;
	height: 14px;
	color: #444;
	display: inherit;
	font-size: 12px;
	margin: 3px 0;
	padding: 0 16px;
	border-left: 1px solid #CCCCCC;
}
.daohang-r a:hover{
	color: red;
}

#banxin-tt{
	height: 20px;
}








/*导航信息栏*/

.logodh{
	float: left;
}
.daohang2{
	float: left;
	padding-top: 4px;
}
.daohang2 li{
	float: left;
	position: relative;
}
.daohang2 li a{
	font-size: 15px;
	line-height: 34px;
	display: block;
	color: #333;
	padding: 0 14px;
	margin: 0 8px;
}
.daohang2 li a:hover{
	color: red;
}
.daohang2 .dhsy{
	color: #ed4507;
	font-weight: 700;
}
.daohang2 li span{
	background: url(../images/newicon.gif) no-repeat;
	z-index: 100;
	position: absolute;
	top: -5px;
	width: 24px;
	height: 12px;
	right: 8px;
}


/*轮播图*/
.lunbob{
	background: bisque;
	position: relative;
	z-index: 1;
}
#lunbo{
	width: 810px;
	height: 455px;
	background: red;
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.lbtp a{
	width: 810px;
	height: 455px;
	display: block;
}
#lunbo img{
	width: 100%;
	height: 100%;
}
.lbtp{
	position: relative;
}
.lbtp li{
	position: absolute;
}
.lbbottom{
	position: absolute;
	bottom: 15px;
	left: 50%;
	margin-left: -68px;
	z-index: 99;
}
.lbbottom li{
	width: 30px;
	height: 7px;
	background: #cccdc8;
	float: left;
	margin: 0 2px;
}
.lbbottom .lbbottom1{
	background: #e60012;
}
.lbjtleft{
	width: 29px;
	height: 64px;
	z-index: 100;
	display: none;
	position: absolute;
	background:url(../images/arrorpng.png) no-repeat -20px 0;
	top: 50%;
	margin-top: -32px;
	left: 10px;
}
.lbjtright{
	width: 29px;
	height: 64px;
	z-index: 100;
	display: none;
	position: absolute;
	background:url(../images/arrorpng.png) no-repeat -50px 0;
	top: 50%;
	margin-top: -32px;
	right: 10px;
}

/*轮播左侧*/
.lbright{
	width: 190px;
	/*height: 100px;*/
	/*background: blue;*/
	position: absolute;
	left: 50%;
	margin-left: 405px;
	top: 8px;
	overflow: hidden;
}
.lbrighttop{
	width: 190px;
	height: 250px;
}
.lbrightbot{
	width: 190px;
	height: 178px;
	margin-top: 9px;
	background: #FFFFFF;
	overflow: hidden;
}
.lbrightbot1{
	font-size: 14px;
	color: #333;
	font-weight: 700;
	line-height: 32px;
	padding: 5px 4px 0;
}
.lbrightbot12{
	margin: 0 auto;
	width: 170px;
	border-top: 1px #d9d9d9 solid;
}
.lbrightbot12 li a{
	height: 26px;
	color: #666666;
	display: block;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.lbrightbot12 li a span{
	font-weight: 700;
}


.lbbotx{
	height: 175px;
	margin-top: 10px;
	/*border: 1px solid red;*/
	position: relative;
}
.lbxt li{
	float: left;
}
.lbxt a{
/*	float: left;*/
	padding: 0 1px;
	display: block;
	position: relative;
	z-index: 99;
}

.lbxt{
	padding-left: 35px;

}
.lbbotxl{
	width: 15px;
	height: 27px;
	display: block;
	background: url(../images/index/thnewbg.png) no-repeat -118px -330px;
	position: absolute;
	top: 100px;
	left: 10px;
	z-index: 99;
}
.lbbotxr{
	width: 15px;
	height: 27px;
	display: block;
	background: url(../images/index/thnewbg.png) no-repeat -136px -330px;
	position: absolute;
	top: 100px;
	right: 10px;
	z-index: 99;
}
.lbbotxb{
	height: 122px;
	width: 1190px;
	background: #F5F5F5;
	position: absolute;
	bottom: 0;
	z-index: 0;
}
.lbxtx{
	width: 1px;
	height: 122px;
	background: #FFFFFF;
	border-left: 1px #dfdfdf solid;
	z-index: 999;
	position: relative;
	top: 50px;
}
.sxg{
	width: 936px;
	float: left;
	overflow: hidden;
}
.sxgdh ul{
	overflow: hidden;
	width: 100%;
}
.sxgdh li{
	float: left;
	position: relative;
	border-bottom: 2px #333 solid;
}
.sxgdh a{
	width: 312px;
	display: block;
	text-align: center;
	font-size: 18px;
	color: #333333;
	font-weight: 700;
	
	line-height: 36px;

}
.sxg .sxgdhx{
	border-bottom: 2px #fe8d51 solid;
}
.sxgdh span{
	width: 7px;
	height: 4px;
	display: block;
	background: url(../images/index/thnewbg.png) no-repeat -102px -302px;
	position: absolute;
	bottom: 2px;
	left: 154px;
	display: none;
}
.sxgdhx .sxgdhxs{
	display: block;
}
.sxgdx{
	height: 438px;
}
.sxgdx li{
	margin: 0;
	padding: 0;
	float: left;
	margin-top: 8px;
}
.sxgdx .sxgdx-11 li:nth-of-type(1){
	width: 300px;
	margin-right: 10px;
}
.sxgdx .sxgdx-11 li:nth-of-type(2){
	width: 308px;
	margin-right: 4px;
}
.sxgdx .sxgdx-11 li:nth-of-type(3){
	width: 308px;
	margin-left: 4px;
}
.img{
	display: block;
}
.sxjr{
	width: 245px;
	float: right;
}
.sxjrs{
	color: red;
	line-height: 38px;
	font-size: 18px;
	font-weight: 700;
}
.sxjrx{
	width: 100%;
	border: 1px #e1e1e1 solid;
}
.sxjrx a{
	width: 180px;
	height: 180px;
	display: block;
	margin: auto auto;
}
.sxjrx img{
	width: 100%;
}
.sxjrx p{
	text-align: center;
	display: block;
	height: 30px;
	line-height: 30px;
	background: #666666;
	color: #FFFFFF;
}
.sxgdx-1 li{
	float: left;
	width: 304px;
	height: 213px;
	border: 1px #dedede solid;
	margin: 0;
	padding: 0;
	margin-top: 10px;
}
.sxgdx-1 li:nth-of-type(2){
	margin: 0 9px;
}
.sxgdx-1 li:nth-of-type(5){
	margin: 0 9px;
}
.sxgdx-1 li .sxgdx-2 a{
	width: 190px;
	height: 190px;
	display: block;
	margin: 11px 5px 0 10px;
}
.sxgdx-1 li a img{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.sxgdx-2{
	float: left;
}
.sxgdx-3{
	width: 90px;
	float: right;
	margin-top: 20px;
}
#sxgdx-3-1{
	padding-top: 20px;
	font-size:12px;
	width: 90px;
	display: block;
	color: #666666;
}
#sxgdx-3-1:hover{
	color: #DA2B28;
}
.sxgdx-3 span{
	margin-top: 10px;
	color: red;
	display: block;
}
.sxgdx-3 p{
	color: #9A9A9A;
	font-size: 12px;
	display: block;
	text-decoration: line-through;
}























/*底部信息*/
.bottom{
	/*height: 270px;*/
	width: 100%;
	border-top: 2px #333333 solid;
	margin-top: 20px;
	border-bottom: 1px #dedede solid;;
	padding-bottom:15px;
}
.bottom-2{
	float: left;
	width: 960px;
/*	height: 300px;*/
/*	border: 1px solid red;*/
	overflow: hidden;
}
.bottom-2 dl{
	float: left;
	font-size: 12px;
	color: #666666;
	padding-top: 15px;
	padding: 10px 40px 0 0;
	width: 110px;
}
.bottom-2 dt:hover{
	color: #DA2B28;
}
.bottom-2 dt{
	font-size: 14px;
	font-weight: 700;
	color: #666666;
	border-bottom: 1px #DBDBDB solid;
	margin-bottom: 10px;
	line-height: 32px;
	cursor:pointer;
}
.bottom-2 dd{
	line-height: 20px;
	cursor:pointer;
}
.bottom-3{
	width: 220px;
	height: 115px;
	float: right;
	color: #767676;
	padding-top: 15px;
	background: url(../images/map.png) no-repeat right bottom;
}
.bottom-3 span{
	font-size: 14px;
	color: #666666;
	line-height: 24px;
	font-weight: 700;
}
.bottom-3 p{
	line-height: 18px;
	font-size: 12px;
}
.bottomb-1{
	height: 130px;
/*	padding-bottom: 15px;*/
}
.bottomb-1 a span:nth-of-type(1){
	display: block;
	background: url(../images/menubg.png) no-repeat 0 -191px;
	width: 51px;
	height: 51px;
	margin: auto auto;
	overflow: hidden;
}
.bottomb-1 a{
	margin-top: 10px;
	display: block;
	width: 20%;
	height: 90%;
	text-align: center;
	float: left;
}
.bottomb-1 a span:nth-of-type(3),
.bottomb-1 a span:nth-of-type(4){
	font-size: 12px;
	color: #767676;
	line-height: 16px;
	display: block;
}
.bottomb-1 a span:nth-of-type(2){
	font-size: 12px;
	color: #333333;
	font-weight: 700;
}
.bottomb-1 a:nth-of-type(2) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -55px -191px;	
}
.bottomb-1 a:nth-of-type(3) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -0 -243px;	
}
.bottomb-1 a:nth-of-type(4) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -55px -243px;	
}
.bottomb-1 a:nth-of-type(5) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -109px -243px;	
}
.bottomb-2{
	line-height: 40px;
	background: #968239;
	text-align: center;
	color: #FFFFFF;
	margin: 15px auto 0;
	width: 100%;
}
.bottomb-2 a{
	color: #FFFFFF;
	margin: 0 12px;
	font-size: 12px;
}
.bottomb-2 a:hover{
	color: #f60;
}
.bottomb-2-2{
	text-align: center;
	margin: 10px auto 0;
	color: #666666;
	font-size: 12px;
}
.bottomb-2-2 a{
	color: #666666;
/*	float: left;*/
}
.bottomb-2-2 a:hover{
	color: #f60;
/*	float: left;*/
}
.bottomb-2-2 span{
	color: #666666;
/*	float: left;*/
}
.bottomb-2-2 p{
	color: #666666;
	display:inline;
}
.bottomb-2-3{
	margin: 10px auto 0;
	text-align: center;
	padding-bottom: 30px;
}
.bottomb-2-3 img{
	margin: 0 5px;
}
.bottomb-2-3 a:last-child{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	color: #666666;
	text-align: center;
	padding-bottom: 20px;
	font-size: 12px;
}
.bottomb-2-3 a:last-child p{
	float: left;
}
.bottomb-2-3 a:last-child img{
	float: left;
}
