*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
/*顶部抬头*/
#heard{
	height: 25px;
	background: #F2F2F2;
	border-bottom: 1px solid #D2D2D2 ;
}
#banxin{
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
}
#banxin1{
	overflow: hidden;
}
#heard-left{
	float: left;
	position: relative;
}
#heard-left a{
	text-align: center;
	width: 16px;
	height: 18px;
	display: block;
	float: left;
	margin: 4px 12px 0 0;
	background: url(../images/index/thnewbg.png) no-repeat;
}
#heard-left .kj{
	background-position: 0 -104px ;
}
#heard-left .wx{
	background-position: -19px -104px ;
}
#heard-left .xl{
	background-position: -39px -104px ;
}
#heard-right{
	float: right;
	color: #666;
	font-size: 12px;
}
#heard-right a{
	color: #666;
	font-size: 12px;
}
#heard-right a:hover{
	color: #da2b28;
}
#heard-right li{
	float: left;
	line-height: 25px;
	padding: 0 10px;
}
#heard-right li:nth-of-type(4),
#heard-right li:nth-of-type(6),
#heard-right li:nth-of-type(8){
	width: 1px;
	height: 12px;
	padding: 0;
	margin-top: 7px;
	background: #ccc;
}
#heard-right li:nth-of-type(9){
	float: left;
	padding: 0 23px 0 10px;
	position: relative;
}
#heard-right .jt{
	width: 9px;
	height: 7px;
	background: url(../images/index/thnewbg.png) no-repeat -141px -308px;
	position: absolute;
	top: 10px;
	right: 0px;
}
#heard-right .fw{
	display: none;
	position: absolute;
	font-size: 12px;
	width: 100%;
	left: 0;
}
#heard-right li:nth-of-type(9):hover .fw {
	display: block;
	border: 1px #ccc solid;
}
#heard-right li:nth-of-type(9):hover{
	background: #fff;
}
/*顶部抬头结束*/
/*logo行*/
#ggtiao{
	position: relative;
	margin-bottom: -4px;
}
#ggtiao .gggb{
	width: 19px;
	height: 19px;
	display: block;
	position: absolute;
	z-index: 10;
	background: url(../images/arrorpng.png) no-repeat 0 0;
	top: 4px;
	right: 0;
}
#ggtiao .gggb:hover{
	background-repeat: 0 20px;
	background-color: #d4d2cf;
}
#logok{
	width: 100%;
	/*background: red;*/
	overflow: hidden;
}
#logok .logo{
	float: left;
	display: block;
	margin: 15px 10px 18px 0;
}
#logok .input{
	width: 670px;
	float: right;
	position: relative;
	height: 50px;
}

#logok .texts{
	float: left;
	width: 450px;
	height: 26px;
	line-height: 26px;
	background-color: #FFFFFF ;
	font-size: 14px;
	padding: 3px 5px;
	border: 0 none;
	margin: 0;
	color: #999;
}
#ssk{
	width: 530px;
	height: 32px;
	background: #fff;
	border: 3px solid #96843a;
	margin-top: 24px;
}
#ssk .butss{
	float: left;
	width: 70px;
	height: 32px;
	background-color: #96843A;
	color: #fff;
    font-family: "microsoft yahei";
    font-size: 16px;
    border: 0 none;
    margin: 0;
    text-align: center;
    cursor:pointer;
}
#ssrs{
	color: #666;
	line-height: 26px;
	height: 26px;
	overflow: hidden;
	width: 540px;
	font-size: 12px;
}
#ssrs a:hover{
	text-decoration:underline;
}
#ssrs a{
	color: #666;
}
#logok .gouwuc{
	float: right;
	width: 144px;
	height: 30px;
	background: #E3E3E3;
	border: 1px solid  #DFDFDF;
	margin-top: 28px;
	position: relative;
	cursor:pointer;
}
#lgsl{
	background: url(../images/index/thnewbg.png) no-repeat -144px -125px;
	height: 16px;
	width: 16px;
	padding-left: 6px;
	left: 25px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: -6px;
}
#lgsl span{
	background: url(../images/index/thnewbg.png) no-repeat right -144px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	padding-right: 6px;
	float: left;
	color: #FFFFFF;
}
#logok .gwche{
	float: left;
	width: 26px;
	height: 19px;
	margin: 6px 12px 0 8px;
	background: url(../images/index/thnewbg.png) no-repeat -68px -125px;
}
#logok .jiesuan{
	float: left;
}
#logok .jiesuan:hover{
	color: red;
}
#logok .lggwjt a{
	color: #666666;
	text-decoration: none;
	font-size: 12px;
	display: block;
	line-height:30px;
	font-weight: 200;
}
#logok .gwrightjt{
	float: right;
	width: 4px;
	height: 7px;
	margin: 11px 9px 0 0;
	background: url(../images/index/thnewbg.png) no-repeat -128px -104px;
}
/*导航信息栏*/
#daohang{
	width: 190px;
	position: relative;
	z-index: 100;
}
#daohang h2 a{
	font-size: 15px;
	text-align: center;
	line-height: 40px;
	height: 38px;
	background: #968239;
	color: #FFFFFF;
	display: block;
	font-weight: 200;
	margin-top: 1px;
}
/*导航信息栏*/

.logodh{
	float: left;
}
.daohang2{
	float: left;
	padding-top: 4px;
}
.daohang2 li{
	float: left;
	position: relative;
}
.daohang2 li a{
	font-size: 15px;
	line-height: 34px;
	display: block;
	color: #333;
	padding: 0 14px;
	margin: 0 8px;
}
.daohang2 li a:hover{
	color: red;
}
/*.daohang2 .dhsy{
	color: #ed4507;
	font-weight: 700;
}*/
.daohang2 li span{
	background: url(../images/newicon.gif) no-repeat;
	z-index: 100;
	position: absolute;
	top: -5px;
	width: 24px;
	height: 12px;
	right: 8px;
}
/*中间详情页*/
.sxdh h1{
	font-size: 18px;
	line-height: 20px;
	display: inline;
}
.sxdh h1 a{
	font-size: 18px;
	line-height: 20px;
	color: #666666;
}
.sxdh{
	height: 22px;
	line-height: 22px;
	margin: 10px 0;
	padding: 0 0 4px 6px;
	color: #666666;
}
.sxdh span,
.sxdh span a{
	color: #666666;
	text-align: center;
	font-size: 12px;
	margin: 0 8px;
	line-height: 24px;
}
.cpzst{
	width: 392px;
	float: left;
	/*border: 1px solid red;*/
	position: relative;
	
}
.cpzstt{
	position: relative;
	width: 390px;
	height: 390px;
	border: 1px solid #DCDCDA;
}
.cpzstt-1{
	width: 390px;
	height: 390px;
}
.cpzstt-1 img{
	width: 100%;
	display: block;
	margin: auto auto;
}
/*遮罩层*/
#fdjzz{
	width: 204px;
	height: 195px;
	position: absolute;
	/*top: 0;
	left: 0;*/
	opacity: 0.6;
	background: #FFFFFF;
	border: 1px solid #DCDCDA;
	display: none;
}
/*大图*/
#fdjzz-1{
	width: 420px;
	position: absolute;
	border: 1px solid #999;
	height: 400px;
/*	background: red;*/
	z-index: 101;
	top: 0;
	left: 100%;
	margin-left: 10px;
	padding: 0;
	overflow: hidden;
	display: none;
}
#fdjzz-1 img{
	position: absolute;
	top: 0;
	left: 0;
}
.cpzstb{
	margin-top: 10px;
	width: 392px;
	overflow: hidden;
}
.cpzstb-1{
	width: 15px;
	height: 60px;
	margin-right: 3px;
	float: left;
	background: url(../images/index/thnewbg.png) no-repeat 0 -182px;
}
.cpzstb-2{
	overflow: hidden;
	width: 350px;
	height: 64px;
	float: left;
	margin-left: 5px;
}
.cpzstb-3{
	width: 15px;
	height: 60px;
	margin-right: 3px;
	float: right;
	background: url(../images/index/thnewbg.png) no-repeat -45px -182px;
}
.cpzstb-2-1{
	height: 58px;
	width: 58px;
	float: left;
	margin: 0 5px;
	border: 1px #ddd solid;
}
.xzxg{
	border: 2px #E9A171 solid;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.cpzstb-2-1 img{
	width: 100%;
	height: 100%;
}
.cpzstb-4{
	float: left;
	line-height: 30px;
	font-size: 12px;
	color: #666666;
}
.cpzstb a{
	float: right;
	width: 71px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin-top: 6px;
	display: block;
	background: url(../images/index/thnewbg.png) no-repeat 0 -245px;
	padding-left: 30px;
	color: #666666;
	margin-right: 60px;
}

.cpzstxx{
	color: #666666;
	float: left;
	margin: 0 0 0 20px;
	width: 558px;
	font-size: 12px;
	position: relative;
/*	border: 1px solid red; */
	padding-right: 220px;
	overflow: hidden;
}
.cpzstxx1 h3{
	padding-bottom: 7px;
	font-size: 16px;
	line-height: 20px;
}
.cpzstxx1 span{
	color: #EAA071;
	font-size: 16px;
}
.cpzstxx2{
	padding: 5px 0 10px;
}
.cpzstxx2-1 div{
	display: inline-block;
}
.cpzstxx2-1{
	clear: both;
	padding: 6px 0;
	line-height: 18px;
	min-height: 18px;
}
.cpzstxxl{
	float: left;
	width: 72px;
	text-align: left;
	color: #666666;
}	
.cpzstxxr2 strong{
	font-size: 18px;
    font-weight: 700;
    color: #DA2B26;
    margin-right: 5px;
}
.cpzstxx2 li:nth-of-type(2){
	height: 30px;
	line-height: 30px;
	padding: 0;
}
.cpzstxx3{
    margin-left: 15px;
    position: relative;
    height: 24px;
}
.cpzstxxr3 span{
	float: left;
	color: #004986;
	cursor: pointer;
	padding: 0 20px;
	border: 1px #fff solid;
	border-bottom: 0;
	line-height: 1;
	font-size: 12px;
}
.cpzstxxr3 i:nth-of-type(1){
	display: inline-block;
    width: 18px;
    height: 23px;
    background: url(../images/arror1.png) no-repeat 0 -54px;
    margin-left: 5px;
    vertical-align: middle;
}
.cpzstxxr3 i:nth-of-type(2){
	display: inline-block;
    width: 9px;
    height: 6px;
    background: url(../images/arror1.png) no-repeat -30px -45px;
    margin-left: 5px;
}
.cpzstxx2-1 em{
	width: 14px;
	height: 13px;
	font-size: 0;
	line-height: 0;
	float: left;
    background:url(../images/index/thnewbg.png) no-repeat -114px -15px;
	margin: 3px;
}
.cpzstxx2-1 div:nth-of-type(2){
	float: left;
}
.cpzstxx2-1 span a{
	color: #005AA0;	
	text-decoration: underline;
}
.cpzstxx2-1 span a:hover{
	color: red;
}
.cpzstxxr4 a{
	color: #005AA0;	
	text-decoration: underline;
}
.cpzstxxr4 a:hover{
	color: red;
}
.cpzstxxr5 a{
	color: #005AA0;	
	text-decoration: underline;
}
.cpzstxxr5 a:hover{
	color: red;
}
.cpzstxxr7 a:nth-of-type(1){
	background-image: url(../images/index/thnewbg.png);
    background-repeat: no-repeat;
    background-position: -92px -182px;
    margin-right: 4px;
    width: 13px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    margin-top: 4px;
    display: inline-block;

}
.cpzstxxr7 a:nth-of-type(2){
	background-image: url(../images/index/thnewbg.png);
    background-repeat: no-repeat;
    background-position: -120px -182px;
    margin-right: 4px;
    width: 13px;
    height: 13px;
    font-size: 0;
    line-height: 0;
    margin-top: 4px;
    display: inline-block;
	line-height: 18px;
}
.cpzstxxr7 span{
	width: 38px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border: 1px #aaa solid;
	display: inline-block;
	line-height: 18px;
	position: relative;
	top: -2px;
}
.cpzstxx3 a{
	width: 160px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    float: left;
    margin-right: 15px;
    display: inline-block;
} 
.cpzstxx3 a:nth-of-type(1){
	background: #E9A171;
}
.cpzstxx3 a:nth-of-type(2){
	background: #DA2B28;
}
.fdjright{
	width: 200px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
}
.fdjright1{
	width: 198px;
    border: 1px #ebebeb solid;
    border-bottom: 0;
    background: #fff;
    color: #666665;
}
.fdjright1-1{
	padding: 9px;
	border-bottom: 1px #ebebeb solid;
	overflow: hidden;	
}
.fdjright2-1{
	text-align: center;
	padding: 8px 0;
	border-bottom: 1px #ebebeb solid;
	overflow: hidden;
}
.fdjright3-1{
	padding: 8px;
	border-bottom: 1px #ebebeb solid;
	overflow: hidden;	
}
.fdjright3-2{
	clear: both;
    overflow: hidden;
    padding: 3px 0 3px;
}
.fdjright3-2 label{
	float: left;
}
.fdjright3-2 span{
	width: 120px;
	display: inline-block;
}
.fdjright4-1{
	padding: 8px;
	border-bottom: 1px #ebebeb solid;
	overflow: hidden;
}
.fdjright4-4{
	width: 79px;
	height: 15px;
	background-position: 0 -267px;
	font-size: 0;
	line-height: 0;
	float: left;
	margin: 2px 10px 0 0;
}
.fdjright4-3{
	float: left;
}
.fdjright4-4 span{
	display: block;
	width: 76.8px;
	height: 15px;
	background: url(../images/index/thnewbg.png) no-repeat 0 -284px;
}
.fdjright4-2{
	overflow: hidden;
	margin: 4px 0;
}
.fdjright4-5{
	padding: 8px 0 6px;
}
.fdjright4-5 a{
	width: 70px;
    height: 22px;
    line-height: 22px;
    background: #fafafa;
    border: 1px #d8d8d8 solid;
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    color: #f58031;
    text-decoration: none;
    display: inline-block;
    margin: 0 8px;
}
.botleft{
	width: 192px;
	height: auto;
	background-color: #FFFFFF;
	float: left;
}
.botleft-1{
	border: 1px #ddd solid;
	border-top: 0;
	width: 190px;
	margin-bottom: 10px !important
}
.botleft-1 h4{
	height: 28px;
	border-top: 1px #ddd solid;
	background: #f7f7f7;
	font-family: "microsoft yahei";
	padding: 0 0 0 14px;
	color: #666;
	font-size: 14px;
	line-height: 28px;
	font-weight: 700;
}
.fdjhadd{
	overflow: hidden;
}
.botleft-2{
	clear: both;
	padding: 0;
	width: 172px;
	margin: 0 auto;
}
.botleft-2 li{
	border-bottom: 1px solid #F0F0F0;
	height: 208px;
	margin: 0 auto;
	padding: 10px 0 0;
}
.botleft-3{
	height: 135px;
	margin: 0 auto 8px;
	width: 135px;	
}
.botleft-4{
	height: 32px;
	line-height: 16px;
	overflow: hidden;
	padding: 2px 0 0;
	width: 172px;
	word-wrap: break-word;
	word-break: break-all;
	margin-bottom: 4px;
}
.botleft-4 a{
	color: #666666;
	font-size: 12px;
}
.botleft-4 a:hover{
	color: red;
}
.botleft-5{
	color: #F60200;
	line-height: 18px;
	font-size: 14px;
}
.botleft-5 del{
	color: #888;
	margin-left: 5px;
}
.botright{
	width: 990px;
	float: right;
}
.botright1-1{
	height: 32px;
    /*background: url(../images/bor-repeat1.gif) repeat-x 0 0;*/
    border-left: 1px #ddd solid;
/*    border-right: 1px #ddd solid;*/
}
.botright1-1 li{
	float: left;
    width: 118px;
    cursor: pointer;
    color: #666;
    line-height: 32px;
    text-align: center;
    font-family: "microsoft yahei";
    font-size: 14px;
    background: #F3F3F3;
}
.botright1-1 .curr{
	border-top: 4px #E9A171 solid;
    border-right: 1px #ddd solid;
    background: #fff;
    height: 28px;
    line-height: 28px;
    color: #333;
    text-align: center;
}
.botright2{
	clear: both;
	margin-bottom: 30px;	
}
.botright2-1{
	border: 1px solid #ddd !important;
	margin-bottom: 10px;
	padding: 7px 22px 10px;
}
.botright2-2{
	background: #FFFECE url(../images/index/thnewbg.png) no-repeat -128px -203px;
    padding: 3px 3px 3px 27px;
    border: 1px #ddd solid;
    margin-bottom: 20px;
    font-size: 12px;
    color: #666;
}
.botright2-2 a{
	font-size: 12px;
    color: #666;
    text-decoration: underline;
    margin: 0 2px;
}
.botright2-2 a:hover{
	color: red;
}
.botright2{
	border: 1px solid #ddd;
}
.botright3-1{
	clear: both;
	margin-bottom: 30px;	
	border: 1px solid #ddd;
}
.botright3-2{
	padding: 12px 22px 10px 0 ;
	margin-bottom: 10px;
	padding: 7px 22px 10px;
	font-size: 12px;
	color: #666666;
}













/*底部信息*/
.bottom{
	/*height: 270px;*/
	width: 100%;
	border-top: 2px #333333 solid;
	margin-top: 20px;
	border-bottom: 1px #dedede solid;;
	padding-bottom:15px;
}
.bottom-2{
	float: left;
	width: 960px;
/*	height: 300px;*/
/*	border: 1px solid red;*/
	overflow: hidden;
}
.bottom-2 dl{
	float: left;
	font-size: 12px;
	color: #666666;
	padding-top: 15px;
	padding: 10px 40px 0 0;
	width: 110px;
}
.bottom-2 dt:hover{
	color: #DA2B28;
}
.bottom-2 dt{
	font-size: 14px;
	font-weight: 700;
	color: #666666;
	border-bottom: 1px #DBDBDB solid;
	margin-bottom: 10px;
	line-height: 32px;
	cursor:pointer;
}
.bottom-2 dd{
	line-height: 20px;
	cursor:pointer;
}
.bottom-3{
	width: 220px;
	height: 115px;
	float: right;
	color: #767676;
	padding-top: 15px;
	background: url(../images/map.png) no-repeat right bottom;
}
.bottom-3 span{
	font-size: 14px;
	color: #666666;
	line-height: 24px;
	font-weight: 700;
}
.bottom-3 p{
	line-height: 18px;
	font-size: 12px;
}
.bottomb-1{
	height: 130px;
/*	padding-bottom: 15px;*/
}
.bottomb-1 a span:nth-of-type(1){
	display: block;
	background: url(../images/menubg.png) no-repeat 0 -191px;
	width: 51px;
	height: 51px;
	margin: auto auto;
	overflow: hidden;
}
.bottomb-1 a{
	margin-top: 10px;
	display: block;
	width: 20%;
	height: 90%;
	text-align: center;
	float: left;
}
.bottomb-1 a span:nth-of-type(3),
.bottomb-1 a span:nth-of-type(4){
	font-size: 12px;
	color: #767676;
	line-height: 16px;
	display: block;
}
.bottomb-1 a span:nth-of-type(2){
	font-size: 12px;
	color: #333333;
	font-weight: 700;
}
.bottomb-1 a:nth-of-type(2) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -55px -191px;	
}
.bottomb-1 a:nth-of-type(3) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -0 -243px;	
}
.bottomb-1 a:nth-of-type(4) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -55px -243px;	
}
.bottomb-1 a:nth-of-type(5) span:nth-of-type(1){
	background: url(../images/menubg.png) no-repeat -109px -243px;	
}
.bottomb-2{
	line-height: 40px;
	background: #968239;
	text-align: center;
	color: #FFFFFF;
	margin: 15px auto 0;
	width: 100%;
}
.bottomb-2 a{
	color: #FFFFFF;
	margin: 0 12px;
	font-size: 12px;
}
.bottomb-2 a:hover{
	color: #f60;
}
.bottomb-2-2{
	text-align: center;
	margin: 10px auto 0;
	color: #666666;
	font-size: 12px;
}
.bottomb-2-2 a{
	color: #666666;
/*	float: left;*/
}
.bottomb-2-2 a:hover{
	color: #f60;
/*	float: left;*/
}
.bottomb-2-2 span{
	color: #666666;
/*	float: left;*/
}
.bottomb-2-2 p{
	color: #666666;
	display:inline;
}
.bottomb-2-3{
	margin: 10px auto 0;
	text-align: center;
	padding-bottom: 30px;
}
.bottomb-2-3 img{
	margin: 0 5px;
}
.bottomb-2-3 a:last-child{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	color: #666666;
	text-align: center;
	padding-bottom: 20px;
	font-size: 12px;
}
.bottomb-2-3 a:last-child p{
	float: left;
}
.bottomb-2-3 a:last-child img{
	float: left;
}
